aside {
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--white);
    div {
        flex-direction: column;
        padding: var(--space);
    }
    picture {
        display: none;
    }
    h1 {
        font-weight: bold;
        font-size: 30px;
    }
    h2 {
        font-weight: 600;
        font-size: 25px;
    }
    p {
        &.title {
            background-color: var(--title-color);
            height: calc(var(--space) * 4);
            padding: var(--space);
            margin: var(--space) 0;
            display: flex;
            align-items: center;
            font-size: calc(var(--space) * 2);
            font-weight: bold;
        }
    }
    strong {
        margin-bottom: var(--space);
    }
}

@media (min-width: 768px) {
    aside {
        min-width: 300px;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        .content {
            picture {
                display: flex;
                justify-content: center;
                img {
                    width: 200px;
                    height: auto;
                    border-radius: var(--space);
                }
            }

        }
    }
}