* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
}
body {
    margin: 0;
    color: var(--text);
}
body, main, aside, section, div {
    display: flex;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}