section {
    flex-direction: column;
    &#professional {
        max-width: 780px;
        > h2 {
            text-align: center;
            padding: calc(var(--space) * 2);
        }
        font-size: calc(var(--space) * 2);
        p, h3 {
            padding: var(--space);
        }
        p {
            margin: var(--space) 0;
            font-size: 15px;
        }
        ul {
            margin: 0;
        }
        hr {
            display: none;
            border: var(--divisor) 3px solid;
            width: 90%;
            &.min {
                border: var(--bg-color) 1px solid;
                width: 30%;
            }
        }
        h3 {
            border-top: 1px solid #707070;
            border-bottom: 1px solid #707070;
            font-weight: bold;
            font-size: calc(var(--space) * 2);
            text-transform: uppercase;
            margin: calc(var(--space) * 2) 0;
        }
        div {
            &.wrap {
                > div {
                    flex-direction: column;
                    .date {
                        font-style: initial;
                    }
                }
                flex-direction: column;
                .date, .locale, .course, .duration, .company {
                    margin: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    font-weight: 600;
                }
                .locale {
                    margin-top: var(--space);
                }
                .date {
                    font-style: italic;
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    section {
        &#professional {
            font-size: calc(var(--space) * 2);
            width: calc(100vw - 300px);
            hr {
                display: block;
                margin-top: calc(var(--space) * 3);
            }
            h3 {
                border-top: 0;
                border-bottom: 0;
            }
            div {
                &.wrap {
                    flex-direction: row;
                    padding: var(--space);
                    p, .locale {
                        margin: 0;
                        padding: 0;
                    }
                    > div {
                        flex-direction: column;
                        min-width: 230px;
                        font-size: 15px;
                        padding-right: 50px;
                        text-align: right;
                    }
                }
            }
        }
    }
}